section {
  display: block;
  width: 100%;
}

button {
  color: #ffffff;
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.main-section {
  background: url("../assets/section1-bg.png") 0 0 no-repeat;
  background-size: cover;
  padding: 274px 0 256px;
}

.logo {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin: 13px 0 42px;
}

.sub-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.second-section {
  background: #EEEEEE;
  padding: 87px 0 100px;
}

.second-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}

.second-section .sub-title {
  color: #666666;
  letter-spacing: 0em;
  margin: 40px 0 48px;
}

.block-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 69%;
}

.read-more-btn {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  background: #55C2D8;
  border-radius: 18px;
  padding: 5px 18px;
  margin-top: 25px;
}

.read-more-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  /* transition: all 0.4s ease 0s; */
}

.third-section {
  background: url("../assets/section3-bg.png");
  background-size: cover;
  padding: 85px 0 90px;
  position: relative;
}

.third-section:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 79, 42, 0.3);
}

.third-section .second-title {
  color: #ffffff;
}

.play-btn {
  position: relative;
  width: 150px;
  height: 150px;
  background: #39C2D7;
  border-radius: 50%;
  margin-top: 55px;;
}

.play-btn:hover {
  box-shadow: 0px 5px 40px -10px rgba(8, 240, 248, 0.8);
}

.play-btn svg {
  position: relative;
  left: 6px;
}

.third-section .sub-title {
  color: #ffffff;
  margin-top: 70px;
}

.footer {
  background: #464547;
  padding-left: 145px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.4);
}

.logo-footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 0 15px;
}

.logo-footer img {
  vertical-align: text-top;
  margin-right: 16px;
}

.footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.copyright {
  padding-bottom: 40px;
}
